body {
  font-family: sans-serif;
  margin: 0px;
}

#src
{
  height: 90px; 
  margin: 0px auto; 
  padding-left:190px; 
  float: left;
}

#header
{
  background-color: slateblue;
  margin:0 auto;
  height: 50px;
  width: 100%;
  padding: 20px;
}

.nav 
{
  background-color: slateblue;
  max-width:960px;
  width: 80%; 
  position: relative; 
  margin: 0 auto; 
  margin-top:20px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
}

#footer
{
  background-color: slateblue; 
  width: 100%;
  padding:30px;
  margin-bottom: 0px;
}

.chet
{
  background-color: purple;
}

.nechet
{
  background-color: indigo;
}

a
{
  color: black;
}